<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bouquet_perso.css">
    <title>Document</title>
    <script type="text/javascript" src="../assets/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../assets/js/bouquet_perso.js"></script>

</head>

<body>
    <div class="container">
        <div class="titre" style="width: 100%; text-align: center">
            <h2>Bien venu sur votre panier</h2>
            <a href="/userhome"><img src="../assets/img/previous.svg" id="back" alt="back"></a>
        </div>
        <div class="ensemble">
            <table class="table">
                <thead class="thead">
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </div>

        <div class="action">
            <div class="btn">
                <button class="select">Select</button>
            </div>
            <div class="info">
                <p class="inform">voila</p>
            </div>
            <div class="btn">
                <button class="send">Send</button>
                <!--       <div class="checked">
                    <img id="check" src="../assets/img/checked.png">
                </div> -->
            </div>
        </div>

</body>

</html>







<!--   <tr>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ZHa45McM8DSM_QWHdUO6YgAAAA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ZHa45McM8DSM_QWHdUO6YgAAAA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ZHa45McM8DSM_QWHdUO6YgAAAA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ZHa45McM8DSM_QWHdUO6YgAAAA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1" alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1" alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1" alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1" alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BBDytAg_pfYlXM4WQ1wpigHaJf%26pid%3DApi&f=1" alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CMxhE3ss2iIDAZdt62deygHaDA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CMxhE3ss2iIDAZdt62deygHaDA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CMxhE3ss2iIDAZdt62deygHaDA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CMxhE3ss2iIDAZdt62deygHaDA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item">
                                <div class="image">
                                    <img class="img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CMxhE3ss2iIDAZdt62deygHaDA%26pid%3DApi&f=1 " alt="1">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <h3>fleur</h3>
                                    </div>
                                    <div class="prix">
                                        <p>prix</p>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr> -->