<!--HEAD-->
<%- include('include/_headers')%>
    <link rel="stylesheet" href="/css/command.css">
    <script src="/js/cmd_encours.js" type="text/javascript"></script>
    </head>
    <!--/HEAD-->


    <!--     <p>welecome employee number
        <%= id_employer%>
    </p> -->


    <!-- BODY -->
    <%- include('include/_body_cmd_employer')%>
        <!-- /BODY -->

        <!--FOOTER-->
        <%- include('include/_footer')%>
            <!--/FOOTER-->