<!-- HEADER -->
<%- include ('include/_headers') %>
    <link rel="stylesheet" href="/css/bouquet_perso.css" type="text/css">
    <title>Document</title>
    <script type="text/javascript" src="/js/bouquet_perso.js"></script>
    </head>
    <!-- /HEADER -->



    <!-- BODY -->
    <li id="id_client" hidden="true">
        <%= id_client%>
    </li>
    <%- include ('include/_body_cmdprs') %>
        <!-- /BODY -->


        <!-- FOOTER -->
        <%- include('include/_footer')%>
            <!-- /FOOTER -->