<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="../assets/js/jquery-3.5.1.js" type="text/javascript"></script>
    <title>Document</title>

</head>


<body>
    <form action="" class="allform">
        <div class="head">
            <h1>Login</h1>
        </div>
        <div class="alert" hidden="true">
            <p>erreur</p>
        </div>
        <div div class="form">
            <div class="textb">
                <input type="email" name="email" id="email" placeholder="your email">
                <span data-placeholder="Email"></span>
            </div>
            <div class="textb">
                <input type="password" name="password" id="password" placeholder="password">
                <span data-placeholder="Password"></span>
            </div>

            <input type="submit" class="logbtn" value="Login">
        </div>
    </form>
</body>

</html>