<!--HEAD-->
<%- include('include/_headers')%>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <title>
        <%= locals.title ? title : "Login Page"%>
    </title>
    <script type="text/javascript" src="/js/loginemp.js"></script>
    </head>
    <!--/HEAD-->


    <!--FORM-->
    <%- include('include/_form')%>
        <!--/FORM-->

        <!--FOOTER-->
        <%- include('include/_footer')%>
            <!--/FOOTER-->