<!--HEAD-->
<%- include('include/_headers')%>
    <link rel="stylesheet" href="/css/command.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/employer.js" type="text/javascript"></script>
    </head>
    <!--/HEAD-->


    <li hidden="true">

        <%= id_employer%>
    </li>


    <!-- BODY -->
    <%- include('include/_body_cmd_employer')%>
        <!-- /BODY -->

        <!--FOOTER-->
        <%- include('include/_footer')%>
            <!--/FOOTER-->