<body>
    <div class="container">
        <div class="titre" style="width: 100%; text-align: center">
            <h2>Bien venu sur votre panier</h2>
            <a href="/userhome/id/<%=id_client%>"><img src="/img/previous.svg" id="back" alt="back"></a>
        </div>
        <div class="ensemble">
            <table class="table">
                <thead class="thead">
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </div>

        <div class="action">
            <div class="btn">
                <button class="select">Select</button>
            </div>
            <div class="info">
                <p class="inform">voila</p>
            </div>
            <div class="btn">
                <button class="send">Send</button>
                <!--       <div class="checked">
                    <img id="check" src="../assets/img/checked.png">
                </div> -->
            </div>
        </div>