<form method="POST" class="allform" autocomplete="off">
    <div class="head">
        <h1>Login</h1>
    </div>
    <div div class="form">
        <div class="alert" hidden="true">
            <p>erreur</p>
        </div>
        <div class="textb">
            <input type="email" name="email" id="email" placeholder="your email" autocomplete="off">
            <span data-placeholder="Email"></span>
        </div>
        <div class="textb">
            <input type="password" name="password" id="password" placeholder="password" autocomplete="off">
            <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Login">
    </div>
</form>